<div class="row">
	<div class="col-sm-6 col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Кандидаты
			</div>
			<div class="panel-body">
				<%= link_to [:candidates] do %>
					<%= @candidates_count %> <%= Russian.p(@candidates_count,"кандидат","кандидата","кандидатов") %>
				<% end %> <br/>
				(<%= @candidates_active_count %> в активном поиске)<br/>
				
				<%= link_to [:new,:candidate], class: "btn btn-primary" do %>
					<%= gi 'plus' %> Добавить
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Вакансии
			</div>
			<div class="panel-body">
				<%= link_to [:vacancies] do %>
					<%= @vacancies_count %> <%= Russian.p(@vacancies_count,"вакансия","вакансий","вакансий") %>
				<% end %> <br/>
				(<%= @vacancies_active_count %> <%= Russian.p(@vacancies_active_count,"актуальная","актуальных","актуальных") %>)<br/>
				
				<%= link_to [:new,:vacancy], class: "btn btn-primary" do %>
					<%= gi 'plus' %> Добавить
				<% end %>
			</div>
		</div>
	</div>

</div>

<input type="text" value="Amsterdam,Washington" data-role="tagsinput" />
<script>
var citynames = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: {
    url: '/abilities.json?1112',
    filter: function(list) {
      console.log(list);
      return $.map(list, function(ab) {
        console.log(ab);
        return { name: ab.name }; });
    }
  }
});
citynames.initialize();

$('input').tagsinput({
  typeaheadjs: {
    name: 'citynames',
    displayKey: 'name',
    valueKey: 'name',
    source: citynames.ttAdapter()
  }
});
</script>