<div class="row"><div class="col-xs-12 col-sm-8">

<%= form_for [@vacancy], html: {:class => "form form-horizontal"} do |f| %>
  <%= bform_static "Id" , @vacancy.id.to_s if @vacancy.persisted? %>
  <%= bform_date "Дата публикации" , @vacancy, :added_at , f%>
  <%= bform_date "Срок размещения" , @vacancy, :expires_at, f %>

  <%= bform_text "Название" , @vacancy , :title , f %>
  <%= bform_wysiwyg "Контакты"   , @vacancy , :contact_info , f %>
  <%= bform_text "Зарплата"   , @vacancy , :salary , f %>
  <%= bform_multiselect "Навыки"   , @vacancy , :ability_names , f , options_for_select(@vacancy.abilities.map{|a| [a.name,a.name]}) %>


  <%= bform_static do %>
    <%= f.submit "Сохранить", class: "btn btn-primary" %>
  <% end %>

<% end %>

</div></div>

<script>
$(function(){
  var abilities = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: {
      url: '/abilities.json?'+Math.random(),
      filter: function(list) {
        return $.map(list, function(ab) {
          return { name: ab.name }; });
      }
    }
  });
  abilities.initialize();

  var elt = $('#vacancy_ability_names');
  elt.tagsinput({
    confirmKeys: [9, 10, 13, 44, 188],
    typeaheadjs: {
      name: 'abilities',
      displayKey: 'name',
      valueKey: 'name',
      source: abilities.ttAdapter()
    }
  });
})


</script>