<pre>
Должность: <%= @vacancy.title %>
Зарплата: <%= @vacancy.salary %><br/>
Опубликована: <%= @vacancy.added_at.strftime("%d.%m.%Y") %><br/>
Действительна до: <%= @vacancy.expires_at.strftime("%d.%m.%Y") %><br/>
Требования:  <%= @abilities.map{|a| a.name}.join(", ") %><br/>
<%= raw @vacancy.contact_info %><br/>
</pre>

<%= link_to "Редактировать вакансию", [:edit,@vacancy], class: "btn btn-primary" %>

<% need_title=true %>
<% can_change=false %>

<div class="row">
	<div class="col-xs-12">
		<% @candidates.each do |candidate| %>
      <% if need_title %>
        <% if (candidate.abilities & @abilities).size == @abilities.size %>
      		<h3>Подходящие кандидаты</h3>
          <% can_change=true %>
        <% else %>
      		<h3>Частично подходящие кандидаты</h3>          
          <% can_change=false %>
        <% end %>
        <% need_title=false %>
      <% end %>
      
      <% if can_change %>
        <% if ((candidate.abilities & @abilities).size != @abilities.size)  %>
        		<h3>Частично подходящие кандидаты</h3>          
            <% can_change=false %>
        <% end %> 
      <% end %> 
         

			<li><%= link_to candidate.name, candidate %> (<%= candidate.salary %> руб)<br/>
        Навыки: 
			<%= candidate.abilities.uniq.sort_by(&:name).map{ |ability|
				"<span #{"class=text-success" if @abilities.include? ability}>#{ability.name}</span>"}.join(", ").html_safe %>
      <% if ((candidate.abilities & @abilities).size != @abilities.size)  %>      
        <br/>Недостающие: 
        <%= (@abilities-candidate.abilities).map{ |ability|
				  "<span class='text-danger'>#{ability.name}</span>"}.join(", ").html_safe %>
			<% end %>

			</li>
		<% end %>
	</div>
</div>

<%= paginate3000 @candidates %>


