<pre>
Должность: <%= @vacancy.title %>
Зарплата: <%= @vacancy.salary %><br/>
Требования:  <%= @abilities.map{|a| a.name}.join(", ") %><br/>
<%= raw @vacancy.contact_info %><br/>
</pre>

<%= link_to "Редактировать вакансию", [:edit,@vacancy], class: "btn btn-primary" %>

<div class="row">
	<div class="col-sm-6">
		<h5>Подходящие кандидаты</h5>
		<ol>
		<% @good_vacancies.each do |vacancy| %>
			<li><%= link_to vacancy.title, vacancy %> (<%= vacancy.salary %> руб)<br/>
			<% vacancy.abilities.uniq.sort_by(&:name).each do |ability| %>
				<span <%= "class=text-danger" unless @abilities.include? ability %> ><%= ability.name %><span>,
			<% end %>
			</li>
		<% end %>
		</ol>
	</div>
	<div class="col-sm-6">
		<h5>Менее подходящие кандидаты</h5>
		<ol>
		<% @not_so_good_vacancies.each do |vacancy| %>
			<li><%= link_to vacancy.title, vacancy %> (<%= vacancy.salary %> руб)<br/>
			Требования: 
			<% vacancy.abilities.uniq.sort_by(&:name).each do |ability| %>
				<span <%= "class=text-danger" unless @abilities.include? ability %> ><%= ability.name %></span>,
			<% end %>
			
			</li>
		<% end %>
		</ol>
	</div>
</div>

