<div class="row"><div class="col-xs-12 col-sm-8">

<%= form_for [@candidate], html: {:class => "form form-horizontal"} do |f| %>
  <%= bform_static "Id" , @candidate.id.to_s if @candidate.persisted? %>
  <%= bform_static "Дата создания" , @candidate.created_at.strftime("%d-%m-%Y %H:%M") if @candidate.persisted? %>

  <%= bform_text "ФИО" , @candidate , :name , f %>
  <%= bform_text "Контакты"   , @candidate , :contact_info , f %>
  <%= bform_text "Пожелания по зарплате"   , @candidate , :salary , f %>
  <%= bform_checkbox "Ищет работу" , @candidate , :is_active , f %>


  <%= bform_static do %>
    <%= f.submit "Сохранить", class: "btn btn-primary" %>
  <% end %>

<% end %>

</div></div>