<h2>Кандидаты</h2>
<p>
<%= link_to [:new,:candidate], class: "btn btn-primary" do %>
	<%= gi 'plus' %> Добавить
<% end %>
</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>ФИО</th>
			<th>Контакты</th>
			<th>Пожелания по зарплате</th>
      <th></th>
		</tr>
	</thead>
	<% @candidates.each do |candidate| %>
	<tr>
		<td><%= link_to candidate.name,candidate %></td>
		<td><%= candidate.contact_info %></td>
		<td><%= candidate.salary %></td>
    <td>
      <%= link_to gi('pencil'), [:edit,candidate] %>
      <%= link_to gi('trash'), candidate, method: "delete", data: {confirm: "Вы уверены, что хотите удалить кандидата #{candidate.name} ?"} %>
    </td>
	</tr>
	<% end %>
</table>

<%= paginate3000 @candidates %>