<h2>Кандидат <%= @candidate.name %></h2>
<%= @candidate.is_active ? "в поиске работы" : "не ищет работу" %><br/>
Контакты: <%= @candidate.contact_info %><br/>
Навыки: <%= @abilities.map{|a| a.name}.join(", ") %><br/>

<%= link_to "Редактировать кандидата", [:edit,@candidate], class: "btn btn-primary" %>

<% need_title=true %>
<% can_change=false %>

<div class="row">
	<div class="col-xs-12">
		<% @vacancies.each do |vacancy| %>
      <% if need_title %>
        <% if (vacancy.abilities & @abilities).size == vacancy.abilities.size %>
      		<h3>Подходящие вакансии</h3>
          <% can_change=true %>
        <% else %>
      		<h3>Частично подходящие вакансии</h3>          
          <% can_change=false %>
        <% end %>
        <% need_title=false %>
      <% end %>
      
      <% if can_change %>
        <% if ((vacancy.abilities & @abilities).size != vacancy.abilities.size)  %>
        		<h3>Частично подходящие вакансии</h3>          
            <% can_change=false %>
        <% end %> 
      <% end %> 
         

			<li><%= link_to vacancy.title, vacancy %> (<%= vacancy.salary %> руб)<br/>
        Навыки: 
  			<%= vacancy.abilities.sort_by(&:name).map{ |ability|
  				"<span #{"class=text-danger" unless @abilities.include? ability}>#{ability.name}</span>"}.join(", ").html_safe %>
			</li>
		<% end %>
	</div>
</div>

<%= paginate3000 @vacancies %>