<!DOCTYPE html>
<html>
<head>
  <title>Bluefox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
<h1>Тестовое задание для Bluefox</h1>
<h4><%= raw @page_crumbs.map{|c| c==@page_crumbs.last ? raw(c[0]) :  link_to(raw(c[0]), c[1])}.join(" / ") %></h4>


<%= yield %>

</div>

</body>
</html>
